@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Liên hệ - Four Rock";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero-section fade-in">
    <div class="container">
        <h1>Liên hệ với Four Rock</h1>
        <p>Chúng tôi luôn sẵn sàng hỗ trợ bạn. Hãy gửi tin nhắn hoặc liên hệ trực tiếp với chúng tôi!</p>
    </div>
</section>

<section class="container fade-in" style="padding: 4rem 0;">
    <div class="row">
        <div class="col-lg-7">
            <div class="contact-form">
                <h3 class="mb-4">Thông tin liên hệ</h3>
                <p><i class="fas fa-map-marker-alt mr-2"></i>123 Đường Sức Khỏe, Quận 1, TP. Hồ Chí Minh</p>
                <p><i class="fas fa-phone-alt mr-2"></i>(+84) 123 456 789</p>
                <p><i class="fas fa-envelope mr-2"></i>contact@fourrockhospital.com</p>
                <p><i class="fas fa-clock mr-2"></i>Thứ 2 - Thứ 7: 8:00 - 17:00</p>
                <div class="social-links mt-3">
                    <a href="#" class="text-dark mr-3"><i class="fab fa-facebook fa-2x"></i></a>
                    <a href="#" class="text-dark mr-3"><i class="fab fa-youtube fa-2x"></i></a>
                    <a href="#" class="text-dark mr-3"><i class="fab fa-instagram fa-2x"></i></a>
                    <a href="#" class="text-dark"><i class="fab fa-twitter fa-2x"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="contact-info">
                <h5>Về Four Rock</h5>
                <p>Chăm sóc sức khỏe hàng đầu với công nghệ hiện đại và đội ngũ y bác sĩ chuyên nghiệp.</p>
            </div>
        </div>
    </div>
</section>
