@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Giới thiệu - Four Rock";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero-section fade-in">
    <div class="container">
        <h1>Giới thiệu về Four Rock Hospital</h1>
        <p>Four Rock Hospital là bệnh viện hàng đầu với đội ngũ y bác sĩ chuyên nghiệp và trang thiết bị hiện đại.</p>
    </div>
</section>

<section class="container fade-in" style="padding: 4rem 0;">
    <div class="row">
        <div class="col-lg-8">
            <div class="about-content">
                <h3>Sứ mệnh</h3>
                <p>Chăm sóc sức khỏe cộng đồng bằng chất lượng dịch vụ y tế tốt nhất, lấy bệnh nhân làm trung tâm.</p>
                <h3>Tầm nhìn</h3>
                <p>Trở thành bệnh viện tiên phong trong ứng dụng công nghệ và y học hiện đại tại Việt Nam.</p>
                <h3>Giá trị cốt lõi</h3>
                <ul>
                    <li>Chuyên nghiệp & tận tâm</li>
                    <li>Đổi mới & sáng tạo</li>
                    <li>Minh bạch & trách nhiệm</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4">
            <img src="~/images/hospital-about.jpg" alt="Four Rock Hospital" class="img-fluid rounded shadow" />
        </div>
    </div>
</section>
